---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=Pueblo,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 29 Sep 2021 07:53:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Pueblo,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pueblo","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040865","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-1&scalebar=true&zoom=12&rand=793421617"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932014","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-22872001"}]}]}'
  recorded_at: Wed, 29 Sep 2021 07:53:45 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=open_weather_api_key&exclude=minutely,alerts&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632902025,"sunrise":1632919953,"sunset":1632962676,"temp":60.44,"feels_like":58.73,"pressure":1000,"humidity":54,"dew_point":43.74,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":1.01,"wind_deg":268,"wind_gust":5.01,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1632898800,"temp":60.73,"feels_like":59,"pressure":1001,"humidity":53,"dew_point":43.52,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":8.03,"wind_deg":287,"wind_gust":11.83,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1632902400,"temp":60.44,"feels_like":58.73,"pressure":1000,"humidity":54,"dew_point":43.74,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":9.28,"wind_deg":292,"wind_gust":17.43,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1632906000,"temp":60.48,"feels_like":58.71,"pressure":1001,"humidity":53,"dew_point":43.29,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":9.06,"wind_deg":289,"wind_gust":18.84,"weather":[{"id":801,"main"[...]
