---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 05:12:59 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1633257875"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1669878855"}]}]}'
  recorded_at: Mon, 27 Sep 2021 05:12:59 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=%23%3CLocation:0x00007f80e69b3070%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 05:12:59 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"#<Location:0x00007f80e69b3070>"},"locations":[{"street":"3070
        Location Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Saint
        George","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"WV","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"26287","geocodeQualityCode":"L1CCA","geocodeQuality":"ADDRESS","dragPoint":false,"sideOfStreet":"N","linkId":"US/ADDR/p3/21074622","unknownInput":"","type":"s","latLng":{"lat":39.18898,"lng":-79.65831},"displayLatLng":{"lat":39.18898,"lng":-79.65831},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=39.18898,-79.65831|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1767453973"}]}]}'
  recorded_at: Mon, 27 Sep 2021 05:12:59 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=open_weather_api_key&exclude=minutely,alerts&lat=39.18898&lon=-79.65831&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.189,"lon":-79.6583,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1632719579,"sunrise":1632741063,"sunset":1632784075,"temp":50.04,"feels_like":48.31,"pressure":1020,"humidity":76,"dew_point":42.78,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":5.35,"wind_deg":182,"wind_gust":12.68,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1632718800,"temp":50.04,"feels_like":48.31,"pressure":1020,"humidity":76,"dew_point":42.78,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":5.35,"wind_deg":182,"wind_gust":12.68,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1632722400,"temp":49.8,"feels_like":48.29,"pressure":1020,"humidity":75,"dew_point":42.21,"uvi":0,"clouds":50,"visibility":10000,"wind_speed":4.52,"wind_deg":190,"wind_gust":8.77,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1632726000,"temp":49.66,"feels_like":47.8,"pressure":1020,"humidity":75,"dew_point":42.08,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":5.03,"wind_deg":187,"wind_gust":9.98,"weather":[{"id":803,"mai[...]
