---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 04:37:51 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"d"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"ESTADO
        ARAGUA","adminArea3Type":"State","adminArea1":"VE","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A3XAX","geocodeQuality":"STATE","dragPoint":false,"sideOfStreet":"N","linkId":"306018521","unknownInput":"","type":"s","latLng":{"lat":10.0,"lng":-67.166667},"displayLatLng":{"lat":10.0,"lng":-67.166667},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=10.0,-67.166667|marker-sm-50318A-1&scalebar=true&zoom=5&rand=1662726775"}]}]}'
  recorded_at: Mon, 27 Sep 2021 04:37:51 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=open_weather_api_key&exclude=minutely,alerts&lat=10.0&lon=-67.166667&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":10,"lon":-67.1667,"timezone":"America/Caracas","timezone_offset":-14400,"current":{"dt":1632717472,"sunrise":1632737845,"sunset":1632781299,"temp":75.34,"feels_like":76.77,"pressure":1014,"humidity":89,"dew_point":71.87,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":3.53,"wind_deg":359,"wind_gust":3.24,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1632715200,"temp":74.07,"feels_like":75.36,"pressure":1014,"humidity":89,"dew_point":70.61,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":3.33,"wind_deg":355,"wind_gust":3.06,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.01},{"dt":1632718800,"temp":75.34,"feels_like":76.77,"pressure":1014,"humidity":89,"dew_point":71.87,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":3.53,"wind_deg":359,"wind_gust":3.24,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1632722400,"temp":73.9,"feels_like":75.22,"pressure":1014,"humidity":90,"dew_point":70.79,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":3.2,"wind_deg":2,"wind_gust":2.89,"weather":[{"id":804,"mai[...]
