---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=adjkijfp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 05 Oct 2021 21:26:25 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"adjkijfp"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=574052584"}]}]}'
  recorded_at: Tue, 05 Oct 2021 21:26:25 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=open_weather_api_key&exclude=minutely,alerts&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1633469185,"sunrise":1633437379,"sunset":1633479154,"temp":79.03,"feels_like":79.03,"pressure":1019,"humidity":24,"dew_point":39.2,"uvi":3.29,"clouds":0,"visibility":10000,"wind_speed":7.74,"wind_deg":97,"wind_gust":8.23,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1633467600,"temp":79.03,"feels_like":79.03,"pressure":1019,"humidity":24,"dew_point":39.2,"uvi":3.29,"clouds":0,"visibility":10000,"wind_speed":7.74,"wind_deg":97,"wind_gust":8.23,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1633471200,"temp":78.94,"feels_like":78.94,"pressure":1019,"humidity":24,"dew_point":39.13,"uvi":1.68,"clouds":0,"visibility":10000,"wind_speed":8.21,"wind_deg":99,"wind_gust":8.66,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1633474800,"temp":78.24,"feels_like":76.95,"pressure":1019,"humidity":25,"dew_point":39.58,"uvi":0.57,"clouds":0,"visibility":10000,"wind_speed":7.72,"wind_deg":99,"wind_gust":9.44,"weather":[{"id":800,"main":"[...]
